.hero {
  position: absolute;

  height: 665px;

  display: flex;
  flex-direction: row;

  background-color: #ffb8ca;
  background-image: url(../images/iceCream-desktop1x.png),
    url(../images/milk-desktop1x.png), url(../images/soTasty-desktop1x.png),
    url(../images/ellipse-desktop1x.png);
  background-repeat: no-repeat;
  background-position: bottom left 594px, bottom 45px left 77px,
    bottom left 878px, bottom 75px left 475px;
  background-size: auto;
}
.hero-main {
  width: 277px;
  padding: 171px 0 112px 0;
}
.hero-secondary {
  width: 200px;
  padding: 0 0 102px 180px;
}
.hero-third {
  padding: 160px 0 341px 0;
  // padding-left: 431px;
}
.hero-left {
  // margin-right: 611px;
  width: 50%;
}
.hero-right {
  text-align: right;
  width: 50%;
}
.hero-third-ul-item {
  position: relative;
  background-color: transparent;
  margin-bottom: 18px;
  // top: 4px;
  // right: 18px;
  // width: 54px;
  // height: 73px;
  // background-image: url(../images/ellipseSmall-desktop1x.png);
  // background-repeat: no-repeat;
  // background-position: top -4px right -20px;
  // background-size: 30px;

  &::before {
    content: "";
    background-color: #fff;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    top: -4px;
    right: -18px;
    z-index: 1;
  }
}

.link-button {
  display: inline-block;
  // width: 138px;
  // height: 40px;
  text-align: center;
  padding: 15px 23px;
  margin-left: 15px;
  border-radius: 22px;
  background-color: #fff;
  color: #d41443;

  &--alternative {
    display: inline-block;
    // width: 138px;
    // height: 40px;
    text-align: center;
    padding: 15px 23px;
    border-radius: 22px;
    background-color: #d41443;
    color: white;
  }

  &--arrow {
    display: inline-block;
    position: relative;

    width: 18px;
    height: 18px;
    // text-align: center;
    border-radius: 50%;
    background-color: #fff;
    fill: #d41443;
  }
}
.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
}
.title-correction {
  font-size: 34px;
  color: #d41443;
}
.hero-secondary--text {
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
}
.hero-third-ul-item-number {
  color: #d41443;
  font-size: 46px;
  position: relative;
  z-index: 2;
  margin-bottom: 2px;
  display: block;
}
.hero-third-ul-item-text {
  color: #fff;
  font-size: 14px;
}
